<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>환영합니다!</title>
    </head>
    <body>
        <strong><%= name %>님, 안녕하세요!</strong>
        <p>
            열심히, 활활 타는 질 좋은 땔감이 되겠습니다.
        </p>
    </body>
</html>
